html,
body {
    height: 100%;
}

body {
    background-color: gainsboro;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
}

h1 {
    text-align: center;
}

footer{
    margin-top: auto;
    padding: 20px;
    text-align: center;
}

.form-hint {
    font-size: 75%;
    opacity: .7;
}

.form-error {
    color: crimson;
    font-size: 75%;
    opacity: .7;
}

.btn.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}